* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3b1e9;
}
.container {
    margin: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
}
.little-cont {
    margin-top: 60px;
    margin-left: 10%;
    height: 80%;
    border-radius: 1.2%;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 20px #320345;
}
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 60px;
}
.inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.buttons {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
input[id="clear"] {
    width: 45px;
    height: 45px;
    background-color: #d3b1e9;
    border: none;
    border-radius: 5%;
    color: #22022f;
    font-size: 20px;
    margin: 0.8px;
    box-shadow: 0 0 8px #6f6f6f;
}
input[id="solve"] {
    width: 90px;
    height: 45px;
    background-color: #d3b1e9;
    border: none;
    border-radius: 5%;
    color: #22022f;
    font-size: 20px;
    margin: 0.8px;
    box-shadow: 0 0 8px #6f6f6f;
}
input[type="button"]:hover {
    background-color: #ab90b7;
    transition: 0.4s;
}
input[id="display"] {
    background-color: #fbfbfb;
    width: 550px;
    height: 45px;
    font-size: 24px;
    padding: 0 5px;
    font-weight: bold;
    margin-top: 75px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #6f6f6f;
}
#otvet {
    width: 600px;
    height: 45px;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    box-shadow: 0 0 10px #6f6f6f;
    border: none;
    border-radius: 5px;
    background-color: #fbfbfb;
    padding: 3px 3px;
    margin-top: 170px;
    overflow: auto;
    white-space: nowrap;
}
canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 7% 37%;
    font-size: 20px;
    margin-left: 100px;
}
.note {
    margin-top: 115px;
    margin-left: -35%;
    color: #38034d;
}

